      <div id="carregando"></div>
      <table class="table">
        <tr>
          <% if options[:removeall] %><th class="first"><input type="checkbox" name="marca_lote" onClick="javascript:checkedAll();"></th><%end%>
          <% if options[:searchlogic] %>
            <th class="ordem t30 centro"><%%= order @search, :by => :id, :as => "ID" %></th>
          <% else %>
            <th <% if !options[:removeall] %>class="first"<%end%>ID</th>
          <% end %>
          <% if options[:listfields]
              listfield = options[:listfields].split(",")
              listfield.each do |linha|
                valorlinha = linha.split(":")
                if options[:searchlogic]%>
                  <th class="ordem centro"><%%= order @search, :by => :<%=valorlinha[0]%>, :as => "<%=valorlinha[1]%>" %></th>
                <%else%>
                  <th class="ordem centro"><%=valorlinha[1]%></th>
                <%end%>
              <%end
          %>
          <% else %>
            <% unless columns.empty? -%>
              <% if options[:searchlogic] %>
                <th class="ordem"><%%= order @search, :by => :<%= columns.first.name %>, :as => "<%= columns.first.name.capitalize %>" %></th>
              <% else %>
                <th><%%= t("activerecord.attributes.<%= singular_controller_routing_path %>.<%= columns.first.name %>", :default => t("activerecord.labels.<%= columns.first.name %>", :default => "<%= columns.first.name.capitalize %>")) %></th>
              <% end %>
            <% end -%>
          <% end %>
          <% if options[:searchlogic] %>
            <th class="ordem"><%%= order @search, :by => :created_at, :as => "Criado em" %></th>
          <% else %>
            <th><%%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <% end %>
          <th class="last" style="text-align:right;">
            <% if options[:exports] %>
            <a href="<%= plural_resource_name %>.pdf?<%%=request.env['QUERY_STRING']%>"><image src="/images/web-app-theme/bullet_red.png" title="PDF" alt="PDF"></a>
            <a href="<%= plural_resource_name %>.xml?<%%=request.env['QUERY_STRING']%>"><image src="/images/web-app-theme/bullet_orange.png" title="XML" alt="XML"></a>
            <a href="<%= plural_resource_name %>.csv?<%%=request.env['QUERY_STRING']%>"><image src="/images/web-app-theme/bullet_green.png" title="CSV" alt="CSV"></a>
            <a href="<%= plural_resource_name %>.json?<%%=request.env['QUERY_STRING']%>"><image src="/images/web-app-theme/bullet_blue.png" title="JSON" alt="JSON"></a>
            <% end %>
          </th>
        </tr>
        <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
        <tr class="<%%= cycle("odd", "even") %>">
          <% if options[:removeall] %><td><%%= check_box_tag "<%= resource_name %>[ids][]", "#{<%= resource_name %>.id}", false, :class => "fieldcheck" %></td><%end%>
          <td><%%= link_to <%= resource_name %>.id, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %></td>
          <% if options[:listfields]
              listfield = options[:listfields].split(",")
              iCont = 0
              listfield.each do |linha|
                valorlinha = linha.split(":")
                formataData = ""
                linhaTabela = resource_name + "." + valorlinha[0].gsub("_",".") + "\%\>"
                columns.each do |col|
                  if col.name.to_s == valorlinha[0]
                    if col.type.to_s == "date"
                      formataData = ".strftime(\"%d/%m/%Y\")"
                      linhaTabela = "if " + resource_name + "." + valorlinha[0].gsub("_",".") + "\%\>\<\%\=" + resource_name + "." + valorlinha[0].gsub("_",".") + formataData + "\%\>\<\%end\%\>"
                    end
                  end
                end
                if iCont > 0%>
                  <td><%% <%= linhaTabela %></td>
                <%else%>
                  <td><%%= link_to <%= resource_name %>.<%=valorlinha[0].gsub("_",".")%>, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %></td>
                <%end%>
              <%
                iCont += 1
              end
          %>
          <% else %>
            <% unless columns.empty? -%>
            <td><%%= link_to <%= resource_name %>.<%= columns.first.name %>, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %></td>
            <% end -%>
          <% end %>
          <td><%%if <%= resource_name %>.created_at %><%%= <%= resource_name %>.created_at.strftime("%d/%m/%Y %H:%M") %><%%end%></td>
          <td class="last">
            <% if options[:declarative_auth] %><%% if permitted_to? :show, :<%=controller_routing_path%> %><%end%>
              <%%= link_to "#{t("web-app-theme.show", :default => "Show")}", <%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <% if options[:declarative_auth] %><%%end%><%end%>
            <% if options[:declarative_auth] %><%% if permitted_to? :edit, :<%=controller_routing_path%> %><%end%>
              <%%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <% if options[:declarative_auth] %><%%end%><%end%>
            <% if options[:declarative_auth] %><%% if permitted_to? :destroy, :<%=controller_routing_path%> %><%end%>
              <%%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            <% if options[:declarative_auth] %><%%end%><%end%>
          </td>
        </tr>
        <%% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <% if options[:will_paginate] %>
        <%%= will_paginate @<%= plural_resource_name %><% if options[:searchlogic] %>, :params => { 'search[order]' => @search.order}<%end%> %>
        <%% if @<%= plural_resource_name %>.total_pages > 1 %><span class="total_pages total_pages1"><%% else %><span class="total_pages"><%% end %>Total geral de registros: <strong><%%= @<%= plural_resource_name %>.total_entries %></strong></span>
        <% end %>
        <p style="clear:both;">&nbsp;</p>
      </div>

