<div class="block">
  <div class="secondary-navigation">
    <div style="float:right;margin-right:6px;margin-top:3px;">
      <ol style="list-style-type: none;">
        <% if options[:exports] %>
        <li style="display: inline;"><a href="<%= plural_resource_name %>/export.pdf"><img src="/images/web-app-theme/pdf.png" alt="pdf" title="pdf"></a></li>
        <li style="display: inline;"><a href="<%= plural_resource_name %>/export.xml"><img src="/images/web-app-theme/xml.png" alt="xml" title="xml"></a></li>
        <li style="display: inline;"><a href="<%= plural_resource_name %>/export.csv"><img src="/images/web-app-theme/csv.png" alt="csv" title="csv"></a></li>
        <li style="display: inline;"><a href="<%= plural_resource_name %>/export.json"><img src="/images/web-app-theme/json.png" alt="json" title="json"></a></li>
        <% end %>
        <li style="display: inline;"><a href="#" id="ajudalink"><img src="/images/web-app-theme/help.png" alt="ajuda" title="ajuda"></a></li>
      </ol>
    </div>
    <ul class="wat-cf">
      <li class="first active"><%%= link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path  %></li>
      <li><%%= link_to "#{t("web-app-theme.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>
    </ul>
  </div>
  <% if options[:removeall] %><%%= form_tag({ :action => :lote},:id => "formlote") -%><%end%>
  <div class="content">
    <h2 class="title"><a name="listagem"><%%= t("web-app-theme.all", :default => "All")  %> <b><%= plural_model_name %></b></a></h2>
    <div class="inner" id="conteudo">
      <%%= render :partial => "listagem" %>
    </div>
  <% if options[:removeall] %>
      <div class="dbotao">
        <button id="apagarlote" class="button" type="submit" name="commit" value="Apagar">
           <%%= image_tag("web-app-theme/bin_empty.png", :alt => "Apagar lote") %> <%%= t("web-app-theme.destroy", :default => "Apagar lote") %>
        </button>
      </div>
    </div>
  </form>
  <%end%>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>
<%%= render :partial => "ajuda" %>
<% if options[:removeall] %>
<div id="dialog" title="Confirmação de exclusão de lote de registros"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span><b>Deseja remover todos os registros selecionados?</b><p></div>
<script type="text/javascript">
$(function(){
        // jQuery UI Dialog

        $('#dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true,
            resizable: false,
            buttons: {
                "Apagar lote": function() {
                  document.forms['formlote'].submit();
                },
                "Cancelar": function() {
                    $(this).dialog("close");
                }
            }
        });

        $('form#formlote').submit(function(){
            $('#dialog').dialog('open');
            return false;
        });
});
</script>
<%end%>

